<div>
    <h4>Game Screen</h4>

    <h2 id="userHello"></h2>
  <h3 id="turn">${this.player}</h3>
  <table class="gameboard center mt-5">
    <tr>
      <td class="tile" id="0-0"></td>
      <td class="tile" id="0-1"></td>
      <td class="tile" id="0-2"></td>
    </tr>
    <tr>
      <td class="tile" id="1-0"></td>
      <td class="tile" id="1-1"></td>
      <td class="tile" id="1-2"></td>
    </tr>
    <tr>
      <td class="tile" id="2-0"></td>
      <td class="tile" id="2-1"></td>
      <td class="tile" id="2-2"></td>
    </tr>
  </table>
  <button type="button" class="m-3 btn-reset btn btn-info">Clear</button>
</div>