body > div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  box-shadow: inset black 0 0 10px 4px;
}
.bg{
  position: absolute;
  background-image: url('https://zumto.com/public/anonymous/frigidmajorivorybilledwoodpecker?g=aHR0cHM6Ly90aHVtYnMuZ2Z5Y2F0LmNvbS9GcmlnaWRNYWpvckl2b3J5YmlsbGVkd29vZHBlY2tlci1zaXplX3Jlc3RyaWN0ZWQuZ2lm');
  background-size: contain;
  background-position: 50% 50%;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(3px);
}

main {
  flex: 1;
}

.navbar, main, footer{
  background-color: rgba(255, 255, 255, 0.9);
  border: solid darkgray;
  border-width: 3px;
  box-shadow: 0 0 5px 2px;
  border-radius: 15px;
}

.dropdown-item, .remove-band, .remove-musician {
  cursor:pointer;
}

/* 
    TIC TAC TOE
*/
.gameboard{
  margin: 0 auto 5vh;
  text-align: center;
  font-size: 10vw;
  line-height: 1%;
}
.tile{
  cursor: pointer;
  padding-bottom: 4%;
  width:  10vw;
  height: 10vw;
  border: solid black;  
}
#turn{
  display: block;
  text-align: center;
}
.btn.reset{
  align-self: center;
}

/* CHAT ROOM */

.net-msg{
  height: 55vh;
  overflow-y: scroll;
  transform: rotate(180deg);
  direction: rtl;
}
.sent-msg{
  transform: rotate(180deg);
  direction: ltr;
  word-wrap: break-word;
}